/*
 * Theme Name: Design Proposal
 * Author: iConcept Global Adventising Inc.
 * Author URI: http://www.iconcept.com.ph/
 * Description: This is for automated selection of design layouts for our clients.
 * Version: 1.0
 * Text Domain: icg_dp
 */

/*=========================================================*/
/* RESET                                                   */
/*=========================================================*/
body, 
html {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Open Sans", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: 700;
}
p, li, td, th {
    font-weight: 400;
    font-size: 14px;
    color: #424242;
}
/*=========================================================*/
/* RESET - END                                             */
/*=========================================================*/

/*=========================================================*/
/* WORDPRESS DEFAULTS                                      */
/*=========================================================*/
.align-right {
    float: right;
    margin: 0 0 10px 15px;
}
.align-left {
    float: left;
    margin: 0 15px 10px 0;
}
.align-center {
    display: block;
    margin: 0 auto 15px;
}
/*=========================================================*/
/* WORDPRESS DEFAULTS - END                                */
/*=========================================================*/


/*=========================================================*/
/* HEADER                                                  */
/*=========================================================*/
.header {
    margin-bottom: 50px;
}

.logo {
    background-color: #b71c1c;
    padding: 7px 0 2px;
}

.banner {
    display: flex;
    height: 134px;
    align-items: center;
    background-size: cover;
}
.banner > h2 {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}
/*=========================================================*/
/* HEADER - END                                            */
/*=========================================================*/

/*=========================================================*/
/* CONTENT                                                 */
/*=========================================================*/
/*=========================================================*/
/* CONTENT - END                                           */
/*=========================================================*/

/*=========================================================*/
/* FOOTER                                                  */
/*=========================================================*/
.footer {
    background-color: #171717;
    height: 50px;
    margin-top: 48px;
}
/*=========================================================*/
/* FOOTER - END                                            */
/*=========================================================*/